<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página Inicial - Meu Site{% endblock %}</title>

    <link rel="icon" href="{% static 'img/favicon.ico' %}"> <!-- Ícone do site -->
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">Sobre</a></li>
                <li><a href="/contact/">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}  <!-- Conteúdo da página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <div class="copyright-area">
            <p>&copy; {% now "Y" %} Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>
